In [9]:
import pandas as pd
import os
import numpy

In [ ]:
weeks = ["2","3"]

In [18]:
csv_part1 = "Half_PPR_Week_"
csv_part2 = "_FLX_Rankings.csv"

In [20]:
for x in weeks:
    csv_full = csv_part1 + x + csv_part2
    raw_df = pd.read_csv(csv_full)
    print(raw_df)
    print(csv_full)

      RK          PLAYER NAME TEAM    POS  BEST  WORST   AVG.  STD.DEV
0      1  Christian McCaffrey  CAR    RB1     1      8    1.3      1.0
1      2          Dalvin Cook  MIN    RB2     1      8    2.8      1.7
2      3         Alvin Kamara   NO    RB3     1      8    3.6      1.7
3      4        Davante Adams   GB    WR1     3     17    4.5      1.6
4      5          Tyreek Hill   KC    WR2     4     20    5.8      2.6
..   ...                  ...  ...    ...   ...    ...    ...      ...
424  425       Matthew Slater   NE  WR183   373    419  391.0     20.1
425  426        Jared Pinkney  DET  TE112   369    398  383.5     14.5
426  427       Nsimba Webster  CHI  WR184   362    418  395.0     23.9
427  428          Deon Yelder   TB  TE113   373    411  392.0     19.0
428  429        Trenton Irwin  CIN  WR185   405    409  407.0      2.0

[429 rows x 8 columns]
Half_PPR_Week_2_FLX_Rankings.csv
      RK          PLAYER NAME TEAM    POS  BEST  WORST   AVG.  STD.DEV
0      1  Christian McCaffrey  CAR    RB1     1      1    1.0      0.0
1      2          Dalvin Cook  MIN    RB2     2      4    2.3      0.6
2      3        Derrick Henry  TEN    RB3     2      3    2.8      0.4
3      4        Davante Adams   GB    WR1     5      9    5.6      1.0
4      5          Tyreek Hill   KC    WR2     5      9    5.9      0.8
..   ...                  ...  ...    ...   ...    ...    ...      ...
308  309        Scotty Miller   TB  WR128   287    331  309.0     22.0
309  310        Tylan Wallace  BAL  WR129   289    345  317.0     28.0
310  311       Dede Westbrook  MIN  WR130   297    308  302.5      5.5
311  312        Andy Isabella  ARI  WR131   296    332  314.0     18.0
312  313          Simi Fehoko  DAL  WR132   302    328  315.0     13.0

[313 rows x 8 columns]
Half_PPR_Week_3_FLX_Rankings.csv

In [ ]:
## use this space to break down file in increments

In [46]:
df = pd.read_csv("Half_PPR_Week_2_FLX_Rankings.csv")
df

      RK          PLAYER NAME TEAM    POS  BEST  WORST   AVG.  STD.DEV
0      1  Christian McCaffrey  CAR    RB1     1      8    1.3      1.0
1      2          Dalvin Cook  MIN    RB2     1      8    2.8      1.7
2      3         Alvin Kamara   NO    RB3     1      8    3.6      1.7
3      4        Davante Adams   GB    WR1     3     17    4.5      1.6
4      5          Tyreek Hill   KC    WR2     4     20    5.8      2.6
..   ...                  ...  ...    ...   ...    ...    ...      ...
424  425       Matthew Slater   NE  WR183   373    419  391.0     20.1
425  426        Jared Pinkney  DET  TE112   369    398  383.5     14.5
426  427       Nsimba Webster  CHI  WR184   362    418  395.0     23.9
427  428          Deon Yelder   TB  TE113   373    411  392.0     19.0
428  429        Trenton Irwin  CIN  WR185   405    409  407.0      2.0

[429 rows x 8 columns]

In [47]:
## line of script to create Position Column
df["Position"] = df["POS"].str.replace('[^a-zA-Z]','')
## line of script to create Position Rank Column
df["Position Rank"] = df["POS"].str.extract('(\d+)',expand=False)
df = df.rename(columns={'TEAM':'Team','BEST':'Ceiling',
                        'WORST':'Floor','AVG.':'Average',
                        'STD.DEV':'Standard Deviation',
                       'PLAYER NAME':'Name'})
df

<ipython-input-47-270019862a3a>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Position"] = df["POS"].str.replace('[^a-zA-Z]','')

,RK,Name,Team,POS,Ceiling,Floor,Average,Standard Deviation,Position,Position Rank
0,1,Christian McCaffrey,CAR,RB1,1,8,1.3,1.0,RB,1
1,2,Dalvin Cook,MIN,RB2,1,8,2.8,1.7,RB,2
2,3,Alvin Kamara,NO,RB3,1,8,3.6,1.7,RB,3
3,4,Davante Adams,GB,WR1,3,17,4.5,1.6,WR,1
4,5,Tyreek Hill,KC,WR2,4,20,5.8,2.6,WR,2
...,...,...,...,...,...,...,...,...,...,...
424,425,Matthew Slater,NE,WR183,373,419,391.0,20.1,WR,183
425,426,Jared Pinkney,DET,TE112,369,398,383.5,14.5,TE,112
426,427,Nsimba Webster,CHI,WR184,362,418,395.0,23.9,WR,184
427,428,Deon Yelder,TB,TE113,373,411,392.0,19.0,TE,113
428,429,Trenton Irwin,CIN,WR185,405,409,407.0,2.0,WR,185

In [49]:
new_df = df[["RK","Team","Name","Position","Position Rank","Ceiling","Average","Floor","Standard Deviation"]]
new_df

,RK,Team,Name,Position,Position Rank,Ceiling,Average,Floor,Standard Deviation
0,1,CAR,Christian McCaffrey,RB,1,1,1.3,8,1.0
1,2,MIN,Dalvin Cook,RB,2,1,2.8,8,1.7
2,3,NO,Alvin Kamara,RB,3,1,3.6,8,1.7
3,4,GB,Davante Adams,WR,1,3,4.5,17,1.6
4,5,KC,Tyreek Hill,WR,2,4,5.8,20,2.6
...,...,...,...,...,...,...,...,...,...
424,425,NE,Matthew Slater,WR,183,373,391.0,419,20.1
425,426,DET,Jared Pinkney,TE,112,369,383.5,398,14.5
426,427,CHI,Nsimba Webster,WR,184,362,395.0,418,23.9
427,428,TB,Deon Yelder,TE,113,373,392.0,411,19.0
428,429,CIN,Trenton Irwin,WR,185,405,407.0,409,2.0